@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245; /* Light gray */
  --background-end-rgb: 255, 255, 255;  /* White */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* For Webkit browsers like Chrome, Safari */
textarea::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #172554; /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 6px; /* make it rounded */

}
